<%- include('partials/header') %>

	<div id="body">
		<h1><span>entre em contato conosco</span></h1>
		<% if (locals.error) { %>
			<p style="color: red;"><%= error.message %></p>
		<% } %>
		<form action="contato" method="post">
			<input type="text" name="subject" id="subject" placeholder="assunto" required>
			<input type="email" name="email" id="email" placeholder="e-mail" required>
			<textarea name="context" id="context" placeholder="coloque aqui seu nome, forma de contato e sua mensagem..." required></textarea>
			<input type="submit" name="send" id="send" value="enviar">
		</form>
	</div>
	
<%- include('partials/footer') %>
