<%- include('partials/header') %>

	<div id="body-gallery">
		<h1><span>galeria</span></h1>
  </div>
  <div class="gallery-container-div">
    <div class="gallery-container">
      <a href="/images/elevadoroficina1.jpeg" class="gallery-items" target="_blank"><img src="/images/elevadoroficina1rdi.jpeg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
      <a href="/images/elevadorgaleria2.jpg" class="gallery-items" target="_blank"><img src="/images/elevadorgaleria2rdi.jpg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
      <a href="/images/elevadores.jpeg" class="gallery-items" target="_blank"><img src="/images/elevadoresrdi.jpeg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
      <a href="/images/elevadorrampa.jpeg" class="gallery-items" target="_blank"><img src="/images/elevadorrampardi.jpeg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
      <a href="/images/pistaducha.jpeg" class="gallery-items" target="_blank"><img src="/images/pistaduchardi.jpeg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
      <a href="/images/painelducha.jpeg" class="gallery-items" target="_blank"><img src="/images/painelduchardi.jpeg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
      <a href="/images/elevadorgaleria1.jpg" class="gallery-items" target="_blank"><img src="/images/elevadorgaleria1rdi.jpg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
      <a href="/images/elevadoroficina2.jpeg" class="gallery-items" target="_blank"><img src="/images/elevadoroficina2rdi.jpeg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
      <a href="/images/elevadornovo1.jpeg" class="gallery-items" target="_blank"><img src="/images/elevadornovo1rdi.jpeg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
      <a href="/images/ppr1.jpeg" class="gallery-items" target="_blank"><img src="/images/ppr1rdi.jpeg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
      <a href="/images/elevadoroficina.jpg" class="gallery-items" target="_blank"><img src="/images/elevadoroficinardi.jpg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
      <a href="/images/elevadorgaleria3.jpg" class="gallery-items" target="_blank"><img src="/images/elevadorgaleria3rdi.jpg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
      <a href="/images/ppr2.jpg" class="gallery-items" target="_blank"><img src="/images/ppr2rdi.jpg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
      <a href="/images/elevadoremaster1.jpg" class="gallery-items" target="_blank"><img src="/images/elevadoremaster1rdi.jpg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
      <a href="/images/rampagaleria.jpg" class="gallery-items" target="_blank"><img src="/images/rampagaleriardi.jpg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
    </div>
  </div>
	

<%- include('partials/footer') %>