<%- include('partials/header') %>

	<div id="body-gallery">
		<h1><span>galeria</span></h1>
  </div>
  <div class="gallery-container-div">
    <div class="gallery-container">
      <a href="/images/elevadoremaster.jpg" class="gallery-items" target="_blank"><img src="/images/elevadoremaster.jpg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
      <a href="/images/elevadorrampa.jpeg" class="gallery-items" target="_blank"><img src="/images/elevadorrampa.jpeg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
      <a href="/images/elevadoremaster.jpg" class="gallery-items" target="_blank"><img src="/images/elevadoremaster.jpg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
      <a href="/images/elevadorrampa.jpeg" class="gallery-items" target="_blank"><img src="/images/elevadorrampa.jpeg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
      <a href="/images/elevadoremaster.jpg" class="gallery-items" target="_blank"><img src="/images/elevadoremaster.jpg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
      <a href="/images/elevadoremaster.jpg" class="gallery-items" target="_blank"><img src="/images/elevadoremaster.jpg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
      <a href="/images/elevadoremaster.jpg" class="gallery-items" target="_blank"><img src="/images/elevadoremaster.jpg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
      <a href="/images/elevadoremaster.jpg" class="gallery-items" target="_blank"><img src="/images/elevadoremaster.jpg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
      <a href="/images/elevadoremaster.jpg" class="gallery-items" target="_blank"><img src="/images/elevadoremaster.jpg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
      <a href="/images/elevadoremaster.jpg" class="gallery-items" target="_blank"><img src="/images/elevadoremaster.jpg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
      <a href="/images/elevadoremaster.jpg" class="gallery-items" target="_blank"><img src="/images/elevadoremaster.jpg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
      <a href="/images/elevadoremaster.jpg"class="gallery-items" target="_blank"><img src="/images/elevadoremaster.jpg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr"></a>
    </div>
  </div>
	

<%- include('partials/footer') %>