<%- include('partials/header') %>

	<div id="body">
		<h1><span>galeria</span></h1>
		<ul class="gallery">
			<li>
				<a href="#">
					<img src="images/galeriard1.jpeg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/galeriard2.jpeg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/galeriard3.jpeg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/galeriard4.jpeg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/galeriard5.jpeg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/galeriard6.jpeg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/galeriard7.jpg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/galeriard2.jpeg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/galeriard3.jpeg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/galeriard3.jpeg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/galeriard3.jpeg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/galeriard3.jpeg" alt="elevador automotivo - rampa hidraulica - rede de ar ppr">
				</a>
			</li>
		</ul>
	</div>

<%- include('partials/footer') %>