<%- include('partials/header') %>
	
	<div id="body">
		<div id="featured">
			<img src="images/imgprincipalrd.jpg" alt="">
			<div>
				<h2>the beacon to all mankind</h2>
				<span>Our website templates are created with</span>
				<span>inspiration, checked for quality and originality</span>
				<span>and meticulously sliced and coded.</span>
				<a href="./contato" class="more">read more</a>
			</div>
		</div>
		<ul>
			<li>
				<a href="galeria">
					<img src="images/elevadorrd.jpg" alt="">
					<span>Elevador Automotivo</span>
				</a>
			</li>
			<li>
				<a href="galeria">
					<img src="images/rampahidraulicard.jpg" alt="">
					<span>Rampa Hidraulica</span>
				</a>
			</li>
			<li>
				<a href="galeria">
					<img src="images/duchard.jpg" alt="">
					<span>Ducha Automotiva</span>
				</a>
			</li>
		</ul>
	</div>
	
<%- include('partials/footer') %>
