<%- include('partials/header') %>
	
	<div id="body">
		<div id="featured">
			<img src="images/imgprincipalrd.jpg" alt="">
			<div>
				<h2>Todo suporte para sua oficina</h2>
				<span>Elevador automotivo qualquer modelo</span>
				<span>Ducha automotiva</span>
				<span>Rampa pneumática e hidráulica</span>
				<a href="sobre" class="more">saber mais</a>
			</div>
		</div>
		<ul>
			<li>
				<a href="galeria">
					<img src="images/elevadorrd.jpg" alt="">
					<span>Elevador Automotivo</span>
				</a>
			</li>
			<li>
				<a href="galeria">
					<img src="images/rampahidraulicard.jpg" alt="">
					<span>Rampa pneumática</span>
				</a>
			</li>
			<li>
				<a href="galeria">
					<img src="images/duchard.jpg" alt="">
					<span>Ducha Automotiva</span>
				</a>
			</li>
		</ul>
	</div>
	
<%- include('partials/footer') %>
