<%- include('partials/header') %>

	<div id="body">
		<h1><span>CARLOS DE ARAUJO</span></h1>
		<div>
			<img src="images/photographer.jpg" alt="">
			<div class="article">
				<h3>Minha história</h3>
				<p>
					Carlos De Araújo, nascido em 10 de fevereiro de 1956, natural de JUIZ DE FORA-MG, residente em UBERLÂNDIA-MG desde de 1993.
				</p>
				<h3>Estudos adquiridos</h3>
				<p>
					Formado em mecânica no colégio Pio XII, em Juiz De Fora, também na mesma cidade cursos na intuição SENAI Ajustagem, Tornearia Mecânica, Cálculos Técnicos, Metrologia e tantos outros
				</p>
				<h3>Vida profissional</h3>
				<p>
					Vida profissional adquirida na Facit Maq. E na Siderúrgica Mendes Junior, cujas funções foram técnico em manutenção.
					Hoje, exerço como especialista, manutenção mecânica, hidráulica, pneumática em elevadores automotivos. Exerço também instalação e manutenção em duchas automáticas de lavagem de veículos CECCATO e outros similares. São 45 anos de vida profissional, voltados para diversas áreas, onde o objetivo foi e será a satisfação do cliente.
				</p>
			</div>
		</div>
	</div>

<%- include('partials/footer') %>