<%- include('partials/header') %>

	<div id="body">
		<h1><span>CARLOS DE ARAUJO</span></h1>
		<div>
			<img src="images/photographer.jpg" alt="">
			<div class="article">
				<h3>Minha história</h3>
				<p>
					Carlos De Araújo, nascido em 10 de fevereiro de 1956, natural de JUIZ DE FORA-MG, residente em UBERLÂNDIA-MG desde de 1993.
				</p>
				<h3>Estudos adquiridos</h3>
				<p>
					Formado em mecânica no colégio Pio XII, em Juiz De Fora, também na mesma cidade cursos na intuição SENAI Ajustagem, Tornearia Mecânica, Cálculos Técnicos, Metrologia e tantos outros
				</p>
				<h3>Vida profissional</h3>
				<p>
					Vida profissional adquirida na Facit Maq. E na Siderúrgica Mendes Junior, cujas funções foram técnico em manutenção.
					Hoje, exerço como especialista, manutenção mecânica, hidráulica, pneumática em elevadores automotivos. Exerço também instalação e manutenção em duchas automáticas de lavagem de veículos CECCATO e outros similares. São 45 anos de vida profissional, voltados para diversas áreas, onde o objetivo foi e será a satisfação do cliente.
				</p>
				<h3>Orientações</h3>
					<p>Sobre elevadores automotivos quando equipamento é novo ou semi novo, indico revisão anual ou quando se julgar necessario. O elavador já usado, indico revisão semestral.
					</p>
					<p>Procedimentos que ajuda na vida util do seu equipamento e a segurança no local de trabalho. Posicionar o veículo no centro do elevador, isso evita acidentes como deslizamento lateral ou danificação do equipamento por esforço extra. Verificar os pontos de apoios do braço do elevador no veículo. Não lave os elevadores e nem veículos nos elevadores pois afeta em varias áreas do equipamento as principais são (fuso, porca de trabalho e segurança, óleo, partes elétricas). Manter o elevador lubrificado, no caso do óleo manual e da graxa, a tarefa de lubrificação deve ser realizada a cada 15 ou 30 dias, dependerá do uso do equipamento e ambiente em que se encontra, já no caso da lubrificação automática óleo, a troca do lubrificante deve ser realizada somente a cada 2 anos, fazendo com que o ganho de produtividade dentro da oficina aumente uma vez que esta operação não necessita ser realizada com frequência.
					</p>
			</div>
		</div>
	</div>

<%- include('partials/footer') %>