<div id="footer">
    <div>
        <ul>
            <li>EMPRESA:</li>
            <li><a href="/">Home</a></li>
            <li><a href="./sobre">Sobre</a></li>
            <li><a href="./galeria">Galetia</a></li>
            <li><a href="./contato">Contato</a></li>
        </ul>
        <ul>
            <li>CONTATO:</li>
            <li>Eurotec-Araujo</li>
            <li>Uberlândia-MG</li>
            <li>(34) 99282-7669</li>
            <li>email@email.com</li>
        </ul>
        <p>&copy; 2022 pela Eurotec. Todos os direitos reservados.</p>
    </div>
    
</div>
</body>
</html>