<!doctype html>
<!-- Website Eurotec - Projeto Carlos -->
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- FAVICON -->
	<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
	<title>Eurotec-Araujo</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/mobile.css" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="/javascripts/mobile.js"></script>
</head>
<body>
	<div id="header">
		<a href="/" class="logo">
			<img src="images/euroteclogo.jpg" alt="">
		</a>
		
		<ul id="navigation">
			<li><a href="/">home</a></li>
			<li><a href="./sobre">sobre</a></li>
			<li><a href="./galeria">galeria</a></li>
			<li><a href="./contato">contato</a></li>
		</ul>
	</div>